.days-content {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

td.bg-weekend {
  background-color: #d9dada;
}

td.bg-currentMonth {
  background-color: #d9dada;
}

td.bg-orange {
  background-color: orange;
}
td.bg-green {
  background-color: green;
}
td.bg-blue {
  background-color: orange;
}
td.bg-gray {
  background-color: gray;
}

td:hover {
  cursor: pointer;
  background-color: rgba(49, 115, 205, 0.5);
}
