.color-marker {
  display: inline-block;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

div.numbers-details{
  span{
    font-size: 1rem;
  }
}

div.selector {
  .selector-button:hover {
    cursor: pointer;
  }

  [class^="fa-chevron"] {
    font-size: 1rem;
  }

  .items-dropdown {
    display: none;
    position: absolute;
    top: 2rem;
    min-width: 20rem;
    background-color: rgb(249, 249, 249);
    padding: 2rem;
  }
  .items-dropdown.active {
    display: block;
  }
}


input {
  font-size: 0.8rem;
}

.bg-weekend {
  background-color: rgb(33, 150, 243);
}
.bg-orange {
  background-color: #f2a654;
}
.bg-blue{
  background-color: #57c7d4;
}
.bg-gray {
  background-color: #8daaba;
}
.bg-green {
  background-color: #46be8a;
}
.bg-red {
  background-color: #f96868;
}
