<div class="container-fluid">
  <div class="row mb-3 numbers-details">

    <div class="col-12">

      <div class="row">

        <div class="col p-3 rounded my-1 mx-2 d-flex align-items-center justify-content-center shadow"
             *ngFor="let label of detailsBarLabels.labels"
             [ngStyle]="{'background-color': label.color}">
          <span>{{label.quantity}} {{label.label}}</span>
        </div>

      </div>



    </div>
  </div>

  <div class="row">

    <div class="selector col-auto">
      <div class="row no-gutters">
        <div class="col-auto">
          <span>Ano: </span>
        </div>
        <div class="selector-button col-auto d-flex align-items-center p-2 ml-1 text-white font-weight-lighter bg-weekend rounded-left"
             (click)="decrementYear()">
          <i class="fa fa-chevron-left"></i>
        </div>

        <div class="selector-button col-auto d-flex align-items-center p-2 border-left border-white text-white font-weight-lighter bg-weekend rounded-right"
             (click)="incrementYear()">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </div>

    <div class="selector col-auto" [ngSwitch]="panelMode">
      <div class="row no-gutters" *ngSwitchCase="'year'">
        <div class="col-auto">
          <span>Item: </span>
        </div>
        <div class="selector-button col-auto d-flex align-items-center p-2 ml-1 text-white font-weight-lighter bg-weekend rounded-left"
             (click)="decrementItem()">
          <i class="fa fa-chevron-left"></i>
        </div>

        <div class="col-auto mx-2 border rounded p-1">
          <span><b>{{activeItem}}</b></span>
        </div>

        <div class="selector-button col-auto d-flex align-items-center p-2 border-left border-white text-white font-weight-lighter bg-weekend rounded-right"
             (click)="incrementItem()">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>


      <div class="row no-gutters" *ngSwitchCase="'month'">
        <div class="col-auto">
          <span>Mês: </span>
        </div>
        <div class="selector-button col-auto d-flex align-items-center p-2 ml-1 text-white font-weight-lighter bg-weekend rounded-left" (click)="decrementMonth()">
          <i class="fa fa-chevron-left"></i>
        </div>

        <div class="selector-button col-auto d-flex align-items-center p-2 border-left border-white text-white font-weight-lighter bg-weekend rounded-right" (click)="incrementMonth()">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </div>

    <div class="col ml-auto">
      <div class="row d-flex justify-content-end">
        <div class="col-auto py-1 d-flex align-content-center"
             *ngFor="let label of detailsBarLabels.labels">
          <div class="color-marker shadow"
               [ngStyle]="{'background-color': label.color}"></div>
          <span>{{label.label}}</span>
        </div>

        <div class="col-auto py-1 d-flex align-content-center">
          <div class="color-marker shadow"
               [ngStyle]="{'background-color': '#f96868'}"></div>
          <span>Eventos Simultâneos</span>
        </div>

        <div class="col-auto py-1 d-flex align-content-center">
          <div class="color-marker shadow"
               [ngStyle]="{'background-color': '#2196F3'}"></div>
          <span>Fins de Semana</span>
        </div>
      </div>
    </div>

  </div>

</div>
