<div class="card mt-3 p-2 shadow">

  <div class="container-fluid">
    <div class="row mb-3 numbers-details">

      <div class="col-12">

        <div class="row">
          <div class="col p-3 bg-light rounded my-1 mx-2 d-flex align-items-center justify-content-center shadow">
            <span>0 Férias Anual</span>
          </div>

          <div class="col p-3 bg-success rounded my-1 mx-2 d-flex text-white align-items-center justify-content-center shadow">
            <span>20 Aprovados</span>
          </div>

          <div class="col p-3 bg-warning rounded my-1 mx-2 d-flex text-white align-items-center justify-content-center shadow">
            <span>10 Pendentes</span>
          </div>

          <div class="col p-3 bg-info rounded my-1 mx-2 d-flex text-white align-items-center justify-content-center shadow">
            <span>30 Livres</span>
          </div>

        </div>



      </div>
    </div>

    <div class="row">

      <div class="col-2">
          <div class="row no-gutters">
            <div class="col-auto d-flex align-items-center pr-1">
              <i class="fa fa-chevron-left" (click)="decrementYear()"></i>
            </div>
            <div class="col-7">
              <input type="text"
                     class="form-control text-center bg-white"
                     name="year"
                     [ngModel]="year"
                     readonly>
            </div>
            <div class="col-auto d-flex align-items-center pl-1">
              <i class="fa fa-chevron-right" (click)="incrementYear()"></i>
            </div>
          </div>
      </div>

      <div class="col-2">
        <div class="row no-gutters" *ngIf="!monthSelectorDisabled">
          <div class="col-auto d-flex align-items-center pr-1">
            <i class="fa fa-chevron-left" (click)="decrementMonth()"></i>
          </div>
          <div class="col-7">
            <input type="text"
                   class="form-control text-center"
                   name="year"
                   [ngModel]="getMonthName()"
                   [class.bg-white]="!monthSelectorDisabled"
                   readonly>
          </div>
          <div class="col-auto d-flex align-items-center pl-1">
            <i class="fa fa-chevron-right" (click)="incrementMonth()"></i>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="row d-flex justify-content-end">
          <div class="col-auto py-1 d-flex align-content-center">
            <div class="color-marker bg-warning shadow"></div>
            <span>Pendente</span>
          </div>
          <div class="col-auto py-1 d-flex align-content-center">
            <div class="color-marker bg-secondary shadow"></div>
            <span>Pref. não marcar</span>
          </div>
          <div class="col-auto py-1 d-flex align-content-center">
            <div class="color-marker bg-success shadow"></div>
            <span>Aprovado</span>
          </div>
          <div class="col-auto py-1 d-flex align-content-center">
            <div class="color-marker bg-dark shadow"></div>
            <span>Feriado</span>
          </div>
          <div class="col-auto py-1 d-flex align-content-center">
            <div class="color-marker bg-danger shadow"></div>
            <span>Conflitos</span>
          </div>
          <div class="col-auto py-1 d-flex align-content-center">
            <div class="color-marker bg-info shadow"></div>
            <span>Bloqueada</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
