.color-marker {
  display: inline-block;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

div.numbers-details{
  span{
    font-size: 1rem;
  }
}

.fa-chevron-left, .fa-chevron-right{
  font-size: 1rem;
  cursor: pointer;
}

input {
  font-size: 0.8rem;
}
