  <div class="table-responsive mt-3 border">
    <table class="table table-hover m-0">
      <thead>
        <tr>
          <th class="text-center" colspan="100%">{{findCurrentMonth()}} de {{activeYear}}</th>
        </tr>
        <tr>
          <th class="border-right" scope="col">Items</th>
          <th
            class="py-1 px-0"
            scope="col"
            *ngFor="let day of generateDaysOfMonth()"
            [class.bg-weekend]="isWeekend(day)">
            <p class="text-center mb-1">{{findCurrentDay(day)}}</p>
            <span class="d-block text-center">{{day}}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of monthlyCalendarData.items | keyvalue; let i = index">
          <td class="itemKey border-right">{{item.key}}</td>
          <td class="text-center"
              [ngStyle]="{'background-color': getEvtColor(day, i)}"
              *ngFor="let day of generateDaysOfMonth()"
              (panstart)="touchStart(day, i, $event)"
              (panright)="touchRight($event)"
              (panleft)="touchLeft($event)"
              (panend)="touchEnd($event)"
              (click)="openEvtModal(day, i)"
              >
            <span class="font-weight-bolder" *ngIf="countEvtsByDay(day, i)>1 && !(_dragEvt && isDragEvtByDay(day, i))">{{countEvtsByDay(day, i)}}</span>
          </td>
        </tr>

        <!--<tr *ngFor="let item of monthlyCalendarData.items | keyvalue; let i = index">-->
          <!--<td class="itemKey border-right">{{item.key}}</td>-->
          <!--<td class="text-center"-->
              <!--[ngStyle]="{'background-color': getEvtColor(day, i)}"-->
              <!--*ngFor="let day of generateDaysOfMonth()"-->
              <!--(mousedown)="activateMouseDown(day, i)"-->
              <!--(mouseenter)="mouseEnter(day)"-->
              <!--(mouseup)="desactivateMouseDown(day)"-->
              <!--(click)="openEvtModal(day, i)"-->
              <!--&gt;-->
            <!--<span class="font-weight-bolder" *ngIf="countEvtsByDay(day, i)>1 && !(_dragEvt && isDragEvtByDay(day, i))">{{countEvtsByDay(day, i)}}</span>-->
          <!--</td>-->
        <!--</tr>-->
      </tbody>
    </table>
  </div>

