<div class="card my-3 shadow">
  <div class="table-responsive">
    <table class="table table-hover m-0">
      <thead>
        <tr>
          <th>{{findCurrentMonth()}}</th>
          <th
            class="p-1"
            *ngFor="let day of generateDaysOfMonth()"
            [class.bg-weekend]="isWeekend(day)">
            <p class="text-center mb-1">{{findCurrentDay(day)}}</p>
            <span class="d-block text-center">{{day}}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>João Fonseca Santos</td>
          <td *ngFor="let day of generateDaysOfMonth()"
              [class.bg-weekend]="isWeekend(day)"></td>
        </tr>
        <tr>
          <td>B</td>
          <td *ngFor="let day of generateDaysOfMonth()"
              [class.bg-weekend]="isWeekend(day)"></td>
        </tr>
        <tr>
          <td>C</td>
          <td *ngFor="let day of generateDaysOfMonth()"
              [class.bg-weekend]="isWeekend(day)"></td>
        </tr>
        <tr>
          <td>D</td>
          <td *ngFor="let day of generateDaysOfMonth()"
              [class.bg-weekend]="isWeekend(day)"></td>
        </tr>
        <tr>
          <td>E</td>
          <td *ngFor="let day of generateDaysOfMonth()"
              [class.bg-weekend]="isWeekend(day)"></td>
        </tr>
        <tr>
          <td>F</td>
          <td *ngFor="let day of generateDaysOfMonth()"
              [class.bg-weekend]="isWeekend(day)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
