<div class="card my-3 shadow">
  <div class="table-responsive">
    <table class="table table-hover m-0">
      <thead>
        <tr>
          <th>{{findCurrentMonth()}}</th>
          <th
            class="p-1"
            *ngFor="let day of generateDaysOfMonth()"
            [class.bg-weekend]="isWeekend(day)">
            <p class="text-center mb-1">{{findCurrentDay(day)}}</p>
            <span class="d-block text-center">{{day}}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of monthlyCalendarData.items | keyvalue; let i = index">
          <td>{{item.key}}</td>
          <td class="text-center"
              *ngFor="let day of generateDaysOfMonth()"
              (mousedown)="activateMouseDown(day, i);"
              (mouseenter)="mouseEnter(day)"
              (mouseup)="desactivateMouseDown()"
              [ngClass]="setDinamicClass(day, i)"
              (click)="openModal(day, i)"
              >
            <span class="font-weight-bolder" *ngIf="countEvtsByDay(day, i)>1 && !(_dragEvt && isDragEvtByDay(day, i))">{{countEvtsByDay(day, i)}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<pre>
  {{_dragEvtDays | json}}
  {{_historicoDragEvtDays | json}}
</pre>
