.bg-weekend {
  background-color: #d9dada;
}


td:hover {
  cursor: pointer;
  background-color: rgba(49, 115, 205, 0.65);
}

.fa {
  font-size: 0.9rem;
}
.fa.orange {
  color: orange;
}
.fa.blue{
  color: blue;
}
.fa.gray {
  color: gray;
}
.fa.red {
  color: red;
}
